* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* -- HEADER --*/

header {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    margin-bottom: -4px;
}
ul li {
    list-style-type: none;
    color: black;
}
.logo-barra{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 4px;
    margin: 4px;
}
.logo, .barra {
    width: 38%;
    margin: 0 auto;
}
.input-barra-busqueda {
    border:0;
    outline: none;
    border-radius: 3px;
    width: 80%;
    height: 25px;
}
.lupa-button {
    border:0;
    outline: none;
    border-radius: 3px;
    width: 15%;
    height: 25px;
    background-color: #ebebeb;
    margin: 3px;
}
.cuotas-sin-tarjeta {
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
}
.burger-menu i {
    background-color: #1259c3;
    color: white;
    text-align: center;
    width: 40px;
    height: auto;
    padding: 7px;
    margin-left: 50%;
    margin-bottom: 15px;
}
.banner{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

/* -- MAIN --*/

main {
    background-color: #ebebeb;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
h3 {
    padding: 10px;
    margin-bottom: 10px;;
}
.ofertas h3 {
    font-size: 24px;
}
.ultima-visita {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.ofertas {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    
}
.ultima-visita h3 {
    font-size: 24px;
}

.imagen-producto {
    width: 100%;
    height: auto;
}
.articulos-main{
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background-color: white;
    
}
.caja-precio-descripcion {
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.fa-truck {
    color: #39b54a;
    display: flex;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    right: 20px;
    top: -15px;
    text-align: center;
}
.caja-camion {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -30px;
    margin-right: 50px;
}
.porciento-off {
    color: #39b54a;
    font-weight: bold;
}


/* -- FOOTER -- */

footer{
    margin: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.articulo-footer {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    padding: 10px;
}
.articulo-footer h4 {
    font-weight: bold;
    color: #666;
    margin-bottom: 5px;
}
.fa-credit-card {
    font-size: 2em;
    color: #04142e;
    margin-bottom: 10px;
    transition-property: color;
    transition-duration: 450ms;
}
.fa-credit-card:hover {
    color: #1259c3;
}
.fa-gift {
    font-size: 2em;
    color: #04142e;
    margin-bottom: 10px;
    transition-property: color;
    transition-duration: 450ms;
}
.fa-gift:hover {
    color: #1259c3;
}
.fa-user-shield {
    font-size: 2em;
    color: #04142e;
    margin-bottom: 10px;
    transition-property: color;
    transition-duration: 450ms;
}
.fa-user-shield:hover {
    color: #1259c3;
}
.copyright{
    font-size: 9px;
}


/* .nav-bar1 {
    display: flex;
    justify-content: space-between;
    width: 500px;
} */

.wrap-dinamico li {
    width: 80%;
}

/* ------------------------------- */
/* ------- Media queries -------- */
/* ----------------------------- */


/* ------- MOVIL -------- */

@media(max-width: 425px) {
    h4.descripcion {
        display: none;
    }
    .navbar-header {
        display: none;
    }
}

/* ------- TABLET -------- */

@media(min-width: 426px) {
    
    .articulos-main {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
        transition-property: box-shadow;
        transition-duration: 450ms;
    }
    .articulos-main:hover {
        box-shadow: -5px 5px 10px 3px rgb(100, 100, 100);
    }
    .wrap-dinamico li {
        width: 45%;
    }
    .burger-menu {
        display: none;
    }
    .logo, .barra, .cuotas-sin-tarjeta {
        width: 25%;
        font-size: 9px;
    }
    .navbar-header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 10px;
        padding: 10px;
        font-size: 9px;
    }
    .navbar1 {
        display: flex;
        justify-content: space-between;
    }
    .navbar1 li {
        margin-right: 16px;
    }
    .navbar2 {
        display: flex;
        justify-content: space-between;
    }
    .navbar2 li {
        margin-right: 16px;
    }
    .input-barra-busqueda {
        transition-property: box-shadow;
        transition-duration: 450ms;
    }
    .lupa-button {
        transition-property: box-shadow;
        transition-duration: 450ms;
    }
    .input-barra-busqueda:hover {
        box-shadow: -2px 2px 5px 1px rgb(100, 100, 100);
    }
    .lupa-button:hover {
        box-shadow: -2px 2px 5px 1px rgb(100, 100, 100);
    }
}

/* ------- COMPUTADORA -------- */

@media(min-width: 769px) {
    .navbar-header{
        font-size: 12px;
    }
    .cuotas-sin-tarjeta {
        font-size: 12px;
    }
    .wrap-dinamico li {
        width: 22%;
    }
    .articulos-main {
        width: 23%;
    }
    .contenedor-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .input-barra-busqueda {
        height: 35px;
    }
    .lupa-button {
        height: 35px;
    }
}